.row {
    text-align: center;
}

.middle {
    background-color: lightgrey;
}

#engima {
    text-align: center;
}

body {
    background-color: lightgrey;
}

.img-circle {
    position: relative;
}

.resume_header {
    padding-bottom: 5%;
    padding-top: 5%;
}

.section_resume {
    text-align: left;
}

.resume_row {
    text-align: left;
}

.course {
    padding-bottom: 18px;
}


#port_header {
    padding-top: 3%;
}
.codeup_dates {
    font-size: smaller;
    position: relative;
    top: 30px;
    padding-bottom: 18px;
}
.work_dates {
    font-size: smaller;
    position: relative;
    top: 120px;
    padding-bottom: 60px;
}